
<div id="feed_wrapper">
    
    <div class="recent_feeds">
        <div class="feed_image"><img src="/image/stock_food.jpg"></div>
		<div class="feed_body">
            <h4>  <%=Post.last.subject%></h4>
            <% temp_id=Post.order("id").reverse_order.first.user_id%>
            <h5 class=feed_name><%=User.find(temp_id).uname%></h5>
            <h5 class=feed_time><%= Post.order("id").reverse_order.first.date_time%></h5>
            <p><%= Post.last.body %></p>
        </div>
        <form method="POST" action="/follow">
            <button class="feed_button" name="follower_id" value=<%=temp_id%>><i class="fa fa-plus"></i>Follow</button>
        </form>
    </div>

    <div class="recent_feeds_2">
        <div class="feed_image"><img src="/image/stock_food.jpg"></div>
		<div class="feed_body">
            <h4>  <%=Post.order("id").reverse_order.second.subject%></h4>
            <% temp_id=Post.order("id").reverse_order.second.user_id%>
            <h5 class=feed_name><%=User.find(temp_id).uname%></h5>
            <h5 class=feed_time><%= Post.order("id").reverse_order.second.date_time%></h5>
            <p><%=Post.order("id").reverse_order.second.body %></p>
		</div>
        <button class="feed_button"><i class="fa fa-plus"></i>Follow</button>
    </div>

     <div class="recent_feeds">
        <div class="feed_image"><img src="/image/stock_food.jpg"></div>
		<div class="feed_body">
            <h4>  <%=Post.order("id").reverse_order.third.subject%></h4>
            <% temp_id=Post.order("id").reverse_order.third.user_id%>
            <h5 class=feed_name><%=User.find(temp_id).uname%></h5>
            <h5 class=feed_time><%= Post.order("id").reverse_order.third.date_time%></h5>
            <p><%=Post.order("id").reverse_order.third.body%></p>
		</div>
        <button class="feed_button"><i class="fa fa-plus"></i>Follow</button>
    </div>
    
    <div class="recent_feeds_2">
        <div class="feed_image"><img src="/image/stock_food.jpg"></div>
		<div class="feed_body">
            <h4>  <%=Post.order("id").reverse_order.fourth.subject%></h4>
            <% temp_id=Post.order("id").reverse_order.fourth.user_id%>
            <h5 class=feed_name><%=User.find(temp_id).uname%></h5>
            <h5 class=feed_time><%= Post.order("id").reverse_order.fourth.date_time%></h5>
            <p><%=Post.order("id").reverse_order.fourth.body%></p>
		</div>
        <button class="feed_button" type="submit"><i class="fa fa-plus"></i>Follow</button>
    </div>

    <div class="recent_feeds">
        <div class="feed_image"><img src="/image/stock_food.jpg"></div>
		<div class="feed_body">
            <h4>  <%=Post.order("id").reverse_order.fifth.subject%></h4>
            <% temp_id=Post.order("id").reverse_order.fifth.user_id%>
            <h5 class=feed_name><%=User.find(temp_id).uname%></h5>
            <h5 class=feed_time><%= Post.order("id").reverse_order.fifth.date_time%></h5>
            <p><%=Post.order("id").reverse_order.fifth.body%></p>
		</div>
        <button class="feed_button"><i class="fa fa-plus"></i>Follow</button>
    </div>

    <div class="recent_feeds_2">
        <div class="feed_image"><img src="/image/stock_food.jpg"></div>
        <div class="feed_body">
            <% @post=Post.order("id").reverse_order.limit(10)%>
            <h4>  <%=@post[5].subject%></h4>
            <% temp_id=@post[5].user_id%>
            <h5 class=feed_name><%=User.find(temp_id).uname%></h5>
            <h5 class=feed_time><%= @post[5].date_time%></h5>
            <p><%=@post[5].body%></p>
		</div>
        <button class="feed_button"><i class="fa fa-plus"></i>Follow</button>
    </div>

     <div class="recent_feeds">
        <div class="feed_image"><img src="/image/stock_food.jpg"></div>
		<div class="feed_body">
            <h4>  <%=@post[6].subject%></h4>
            <% temp_id=@post[6].user_id%>
            <h5 class=feed_name><%=User.find(temp_id).uname%></h5>
            <h5 class=feed_time><%= @post[6].date_time%></h5>
            <p><%=@post[6].body%><p>
        </div>

        <button class="feed_button"><i class="fa fa-plus"></i>Follow</button>
    </div>
    
    <div class="recent_feeds_2">
        <div class="feed_image"><img src="/image/stock_food.jpg"></div>
		<div class="feed_body">
            <h4>  <%=@post[7].subject%></h4>
            <% temp_id=@post[7].user_id%>
            <h5 class=feed_name><%=User.find(temp_id).uname%></h5>
            <h5 class=feed_time><%= @post[7].date_time%></h5>
            <p><%=@post[7].body%></p>
		</div>
        <button class="feed_button"><i class="fa fa-plus"></i>Follow</button>
    </div>

    <div class="recent_feeds">
        <div class="feed_image"><img src="/image/stock_food.jpg"></div>
		<div class="feed_body">
            <h4>  <%=@post[8].subject%></h4>
            <% temp_id=@post[8].user_id%>
            <h5 class=feed_name><%=User.find(temp_id).uname%></h5>
            <h5 class=feed_time><%= @post[8].date_time%></h5>
            <p><%=@post[8].body%></p>
		</div>
        <button class="feed_button"><i class="fa fa-plus"></i>Follow</button>
    </div>
    
    <div class="recent_feeds_2">
        <div class="feed_image"><img src="/image/stock_food.jpg"></div>
		<div class="feed_body">
            <h4>  <%=@post[9].subject%></h4>
            <% temp_id=@post[9].user_id%>
            <h5 class=feed_name><%=User.find(temp_id).uname%></h5>
            <h5 class=feed_time><%= @post[9].date_time%></h5>
            <p><%=@post[9].body%></p>
		</div>
        <button class="feed_button"><i class="fa fa-plus"></i>Follow</button>
    </div>
</div>
